.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
  text-align: left;
  background: #d3d3d38f;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.card:hover {
  border-color: #0070f3;
}

.card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card h4 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.card p + p {
  margin-top: 0.25rem;
}

@media (max-width: 600px) {
  .main {
    padding-top: 2rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .title + p {
    margin-top: 8px;
  }
  .grid {
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
  }
  .card {
    width: auto;
  }
}
